# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!terraform.tfvars.example

# IDE / OS
.vscode/
.idea/
.DS_Store

# Application & Docker
app/__pycache__/
app/*.pyc
.env

## .NET / C# Build & Compiler Outputs
[Bb]in/
[Oo]bj/
out/
publish/

## Environment & Secrets (NEVER commit local settings or secrets!)
*.env
*.env.local
.env.*